name: Publish to pub.dev

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
          
      - uses: dart-lang/setup-dart@v1
      
      - name: Publish
        run: flutter pub publish --force
